 {
data =     {
"next_start" = "-1";
"product_list" =         (
{
address = "\U5317\U4eac\U5e02\U671d\U9633\U533a\U4e9a\U8fd0\U6751\U98d8\U4eae\U5e7f\U573a\U5357\U4fa7\U4e00\U5c42COSTA\U5496\U5561";
"address_display_type" = 1;
"date_str" = "03.22-03.27";
distance = "200km\U4ee5\U4e0a";
"is_new" = "";
"like_count" = 38;
price = 99;
"product_id" = 10578;
"sold_count" = 2;
status = prebook;
stock = 316;
"tab_list" =                 (
"\U6444\U5f71",
"\U805a\U4f1a",
"\U7ecf\U9a8c\U5206\U4eab"
);
title = "\U4e0e\U73af\U7403\U6444\U5f71\U5e08\U7ea6\U676f\U5496\U5561\Uff0c\U804a\U804a\U6444\U5f71\U7684\U90a3\U4e9b\U4e8b\U513f";
"title_page" = "http://photos.breadtrip.com/hunter/product/cover/6385138_o_1a5ueqvl3m101c88180s195rn6j9.JPG?imageView2/5/w/788/h/426/format/jpg/interlace/1/";
user =                 {
"avatar_l" = "http://photos.breadtrip.com/avatar_f7_8e_eece070151ccccac61e499046a53888ecfbbbb87.jpg-avatar.l";
id = 2390433632;
name = "\U66f9\U4e00\U4e01";
};
},
{
address = "\U4e1c\U76f4\U95e8";
"address_display_type" = 1;
"date_str" = "03.26-04.10";
distance = "";
"is_new" = "";
"like_count" = 65;
price = 79;
"product_id" = 10552;
"sold_count" = 5;
status = prebook;
stock = 242;
"tab_list" =                 (
"\U7ecf\U9a8c\U5206\U4eab"
);
title = "\U548c\U6c99\U53d1\U5ba2\U8fbe\U4eba\U7ea6\U676f\U5496\U5561\Uff0c\U4ece\U6b64\U4e0d\U518d\U4f4f\U9152\U5e97";
"title_page" = "http://photos.breadtrip.com/hunter/product/cover/1072006_o_1a5oel82h868d8e1a889jl1u9k9.jpg?imageView2/5/w/788/h/426/format/jpg/interlace/1/";
user =                 {
"avatar_l" = "http://photos.breadtrip.com/avatar_04_c9_0849898e0f0f75ca24756bb6cba3d09497e0cf77.jpg-avatar.l";
id = 2387721574;
name = ysll2002;
};
},
{
address = "\U56fd\U8d38\U9644\U8fd1\U5496\U5561\U5385\Uff0c\U5177\U4f53\U4e0e\U730e\U4eba\U5546\U5b9a";
"address_display_type" = 1;
"date_str" = "";
distance = "";
"is_new" = "";
"like_count" = 29;
price = 200;
"product_id" = 11234;
"sold_count" = 4;
status = prebook;
stock = 0;
"tab_list" =                 (
"\U805a\U4f1a",
"\U7f8e\U98df",
"\U7ecf\U9a8c\U5206\U4eab"
);
title = "\U4e0e\U9ad8\U989c\U503cCEO\U7ea6\U676f\U5496\U5561\U804a\U804a\U521b\U4e1a";
"title_page" = "http://photos.breadtrip.com/hunter/product/cover/5574656_o_1a901ehusu5a1hogk401je362th.jpg?imageView2/5/w/788/h/426/format/jpg/interlace/1/";
user =                 {
"avatar_l" = "http://photos.breadtrip.com/avatar_18_96_a18c4a715226eb916c4598a185e7a75382d8c9b9.jpg-avatar.l";
id = 2387569037;
name = Cherryli003;
};
},
{
address = "\U5b89\U8d1e\U6865\U9644\U8fd1";
"address_display_type" = 1;
"date_str" = "";
distance = "";
"is_new" = "";
"like_count" = 30;
price = 300;
"product_id" = 11194;
"sold_count" = 9;
status = prebook;
stock = 0;
"tab_list" =                 (
"\U7ecf\U9a8c\U5206\U4eab"
);
title = "\U4e0e\U4eac\U57ce\U7b2c\U4e00\U7f8e\U5973CEO\U7ea6\U676f\U5496\U5561\Uff0c\U804a\U804a\U5e02\U573a\U4e0e\U516c\U5173";
"title_page" = "http://photos.breadtrip.com/hunter/product/cover/813245_o_1a8oh3lbqn6pf1kbv31dgpq2ne.JPG?imageView2/5/w/788/h/426/format/jpg/interlace/1/";
user =                 {
"avatar_l" = "http://photos.breadtrip.com/avatar_4e_71_1992e5c03635afc793cdafa26195cd2af8958589.jpg-avatar.l";
id = 2383751906;
name = "Eileen_\U4f0a\U59d1\U5a18";
};
},
{
address = "\U4e09\U91cc\U5c6f\U4e00\U5e26";
"address_display_type" = 3;
"date_str" = "03.26-05.21";
distance = "";
"is_new" = "";
"like_count" = 107;
price = 199;
"product_id" = 10010;
"sold_count" = 13;
status = prebook;
stock = 3;
"tab_list" =                 (
"\U805a\U4f1a",
"\U7f8e\U98df"
);
title = "\U5fae\U98ce\U4e0d\U566a\Uff0c\U4e0e\U9762\U5305\U65c5\U884c\U4eba\U529b\U603b\U76d1Eva\U7ea6\U5496\U5561";
"title_page" = "http://photos.breadtrip.com/hunter/product/cover/138330_o_1a36gundhnqei0gs8of121216q.jpg?imageView2/5/w/788/h/426/format/jpg/interlace/1/";
user =                 {
"avatar_l" = "http://photos.breadtrip.com/avatar_61_e2_56060ec4a1f9232fecf682eb78e7a9b3423fc441.jpg-avatar.l";
id = 2383818190;
name = "\U4f0a\U5a03\U7684\U6545\U4e8b";
};
}
);
"publish_date" = 20160321160639;
};
message = "";
status = 0;
}

