{
data =     (
{
id = 4;
name = "\U4e1c\U4eac";
},
{
id = 5;
name = "\U5927\U962a";
},
{
id = 6;
name = "\U51b2\U7ef3";
},
{
id = 7;
name = "\U6e05\U8fc8";
},
{
id = 8;
name = "\U666e\U5409\U5c9b";
},
{
id = 9;
name = "\U53f0\U6e7e";
},
{
id = 10;
name = "\U65b0\U52a0\U5761";
},
{
id = 11;
name = "\U6d1b\U6749\U77f6";
},
{
id = 12;
name = "\U82cf\U6885\U5c9b";
},
{
id = 13;
name = "\U5df4\U5398\U5c9b";
},
{
id = 14;
name = "\U9999\U6e2f";
},
{
id = 15;
name = "\U66fc\U8c37";
},
{
id = 16;
name = "\U7ebd\U7ea6";
},
{
id = 17;
name = "\U901a\U8bafWIFI";
},
{
id = 18;
name = "\U73af\U7403\U5f71\U57ce";
},
{
id = 19;
name = "\U4eb2\U5b50";
},
{
id = 20;
name = "\U7535\U8bdd\U5361";
},
{
id = 21;
name = "\U9996\U5c14";
}
);
message = "";
status = 0;
}